side-menu {

    .header-wrapper {
        position: relative;
        ion-header {
            background: $primary;
        }
        .logo-container {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 20%);
            display: inline-block;
            border-radius: 50%;
            padding: 10px;
            background: #67c1c2;
            // box-shadow: 0 4px 6px rgba(0,0,0,.25);
            border: 5px solid #fff;
            img {
                width: 45px;
            }
        }
    }

    .showRow {
        transition: all 0.2s ease-in;
        &.rotate-icon {
            transform: rotate(90deg);
        }
    }

    .content{
        .list:not(.subitems) {
            padding-top:25px;
            background-color: white;
        }
       
    }

}
