<ion-header>
    <ion-navbar  color="logo">
       <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
       </button>
      <ion-title>
        <ion-icon class="header-search-logo" name="md-search"></ion-icon>n a trouvé !
      </ion-title>
      <ion-buttons end>
        <!-- <button ion-button>
          <ion-icon name="search">
          </ion-icon>
        </button> -->
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <div *ngIf="!discussions?.length" class="no-content">
        <h4>{{'not_found.discussion'|translate}} </h4>
        <h2>-&nbsp;{{region}}&nbsp;-</h2>
    </div>
    <ion-list>
        <ion-item (click)="gotoChat(discussion)" *ngFor="let discussion of discussions">
          <ion-avatar item-start>
            <img [src]="discussion.product?.src">
          </ion-avatar>
          <h2 class="center-text touppercase">{{discussion.product?.title}}</h2>
          <hr>
          <p>
         <span class="content-info" ion-item><ion-icon name="person" item-start></ion-icon>{{discussion.receiver?.name}}</span>
         <span class="content-info" ion-item *ngIf="discussion?.receiver?.phone"><ion-icon name="call" item-start></ion-icon>{{discussion.receiver?.phone}}</span>
         <span class="content-info" ion-item><ion-icon name="mail" item-start></ion-icon>{{discussion.receiver?.email}}</span>
          </p>
        </ion-item>
      </ion-list>
</ion-content>
