page-change-password {
    .input-has-focus .item-inner{
        border-bottom: none!important;
        background: #f0b23e0e;
        box-shadow: none!important;    
    }

    .item{
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }

    .row{
        margin: 10px 2px;
        box-shadow: 1px 1px 9px -5px rgba(0, 0, 0, 0.9);
    }

    .item-md ion-icon[item-end]{
        z-index: 999!important;
    }
}
