<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="logo">
      <button ion-button menuToggle left>
       <ion-icon name="menu"></ion-icon>
      </button>
     <ion-title>
      {{'change_password.change_password'|translate}}
     </ion-title>
     <ion-buttons end>
     </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content padding>
  <form  [formGroup]='addReginForm'>
      <ion-row>
          <ion-item ion-col>
              <ion-input formControlName="password" [(ngModel)]="user.password"  [type]="!showpassword ? 'password' : 'text'" placeholder="{{'change_password.password'|translate}}"></ion-input>
            </ion-item>
      </ion-row>
      <div *ngIf="(!addReginForm.controls.password?.valid && (addReginForm.controls.password?.dirty || submitReg))" class="erreurMsg">&nbsp;
          <span *ngIf="addReginForm.hasError('minlength',['password'])">{{'errors.min-length.8'|translate}}</span>
          <span *ngIf="addReginForm.hasError('required',['password'])">{{'errors.required'|translate}}</span> 
        &nbsp;
      </div>
      <ion-row>
          <ion-item ion-col>
              <ion-input formControlName="vpassword" [type]="!showpassword ? 'password' : 'text'" placeholder="{{'change_password.password'|translate}}"></ion-input>
            <ion-icon *ngIf="!showpassword" (click)="cahngepasswordView()" color="primary" item-end name="eye">
            </ion-icon>
            <ion-icon *ngIf="showpassword" (click)="cahngepasswordView()" color="primary" item-end name="eye-off">
              </ion-icon>
            </ion-item>
      </ion-row>
      <div *ngIf="(!addReginForm.controls.vpassword?.valid && (addReginForm.controls.vpassword?.dirty || submitReg))" class="erreurMsg">&nbsp;
          <span *ngIf="addReginForm.hasError('required',['vpassword'])">{{'errors.required'|translate}}</span> 
          <span *ngIf="addReginForm.hasError('notEquivalent',['vpassword'])">{{'errors.notConform'|translate}}</span> 
          &nbsp;
        </div>


  <button (click)="changePassword()" full ion-button icon-left>
      <ion-icon name="md-checkmark"></ion-icon>
      {{'change_password.change'|translate}}
     </button>
    </form>
</ion-content>
