page-products {
    .item ion-avatar ion-img, .item ion-avatar img{
        border-radius: 4px!important;
        overflow: hidden;
        width: 87px;
        height: 87px;
        border:2px solid map-get($colors , therd );
        object-fit: cover;
        // object-fit: cover;
    }

    .note{
        color:map-get($colors , therd );
        font-weight: bold;
        font-size: 15px;
    }

    .info-row{
        position: absolute !important;
        z-index: 9999 !important;
        width: 100%;
        padding-left: 116px;
        left: 50%;
        transform: translateX(-50%);
       @include rtl(){
        right: calc(50% - -110px) !important;
        transform: translateX(50%)!important;
       }
        .col{
            align-content: center;
            text-align: center;
            align-items: center;
            align-self: center;
        }
    }

    .isit{
        position: absolute;
        top: 2px;
        right: 2px;
        border: none!important;
        height: 40px!important;
        width: 40px!important;
      
    }
    .itemisit{
    background-color:rgba(map-get($colors, therd ),0.1);
    border-radius:5px;
    }
    .micposition{
        
        position: absolute;
        left: 0;
        left: 25px;
        @include rtl(){
            left:initial;
            right: 25px;
        }
        margin: 0px!important;
        padding: 5px;
        border-radius: 5px;
        color: #67c1c2 !important;
        bottom: 19px;
        margin-left: 26px;
        z-index: 131 !important;
    }
    .label{
        margin: -21px 8px 13px 0;
    }

.item [item-end] {
        margin: 0px 8px 9px 0;
    }

.fab{
    background-color: rgba(240, 180, 62, 0.49);
    }


    #bars {
        height: 30px;
        position: absolute;
        top: 50%;
        width: 40px;
    }
    
    .bar {
       background: rgb(255, 255, 255);
        bottom: 1px;
        height: 3px;
        position: absolute;
        width: 3px;      
        animation: sound 0ms -800ms linear infinite alternate;
    }
    
    @keyframes sound {
        0% {
           opacity: .35;
            height: 3px; 
        }
        100% {
            opacity: 1;       
            height: 28px;        
        }
    }
    
    .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
    .bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
    .bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
    .bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
    .bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
    .bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
    .bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
    .bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
    .bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
    .bar:nth-child(10) { left: 37px; animation-duration: 442ms; } 
    
    .effectposition{
        height: 30px;
        /* left: 16%; */
        margin: -14px 0px 0px 21px;
        position: absolute;
        top: 50%;
        width: 40px;
        opacity: 1; 
    }

    .loadwhensearch{
        position: relative;
        z-index:999;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px 0px;
    }

    .searchbar{
        @include rtl(){
        direction:rtl!important;
        .searchbar-input-container{
            direction:rtl!important;
            .searchbar-input{
                direction:rtl!important;
            }
        }
    }
    }
  
}
